body{
    background-color: aqua;
}
#title_searchbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#title{
    color: black;
    font-size: xxx-large;
}
#searchbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#search{
    width: 30%;
    font-size: large;
}
#box{
    font-size: x-large;
}