#title_searchbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    color: black;
}
#search{
    width: 30%;
}
#box{
    height: 200%;
}