body{
    background-color: rgb(22, 80, 87);
}
#title_searchbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#title{
    color: white;
    font-size: xxx-large;
}
#searchbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#search{
    background-color: black;
    color: white;
    width: 30%;
    font-size: large;
}
#box{
    font-size: x-large;
}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#content_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#div1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#main_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.SMLinks{
    font-size: large;
    width: medium;
}